# Ignore these files when building Docker image
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.venv
env
.env
*.egg-info
dist
build
.git
.gitignore
*.md
!README.md
.pytest_cache
.coverage
htmlcov
notebooks
*.ipynb
.vscode
.idea
